

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo{
  max-width: 28px;
}


.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item{
  font-family: 'Press Start 2P', cursive;
}

.padding-top-100{
  padding-top: 100px;
}

.padding-top-50{
  padding-top: 50px;
}
