@import '../node_modules/bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

h1,h2,h3,h4,h5,h6,strong{
    font-family: 'Press Start 2P', cursive;
}


.bg-gradient {
    background: linear-gradient(270deg, #fd3f7d, #e8e648, #2758a5);
    /* background: linear-gradient(270deg, #ff76cc,#f6ff66, #58fdc3);  */
    background-size: 600% 600%;
    -webkit-animation: animateGradient 30s ease infinite;
    -moz-animation: animateGradient 30s ease infinite;
    animation: animateGradient 30s ease infinite;
}

@-webkit-keyframes animateGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes animateGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes animateGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.dotted {
    opacity: .4;
    height: 100%;
    width: 100%;
    display: block;
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    padding: 2.25em 1.6875em;
    background-image: -webkit-repeating-radial-gradient(center center, #831ed0, rgba(251, 0, 255, .32) 1px, transparent 1px, transparent 98%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}

.transparent{
    background: transparent!important;
}

.card-8bit{
    border-color: #000;
    border-style: solid;
    border-width: 4px;
}

.media-content * {
  font-family: 'Press Start 2P', cursive;
}


.btn-8bit{
  -webkit-appearance: initial;
  border: none;
  background: #0067b7;
  color: #fff;
  padding: 10px 15px;
  margin-top: 30px;
  position: relative;
  z-index: 5;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 4px 0 0 #0b4e82;
  font-family: 'Press Start 2P', cursive;
}

button:before, .btn-8bit:before, [type="submit"]:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -4px;
  bottom: 0;
  z-index: -1;
  background: #118fe4;
}


button:after, .btn-8bit:after, [type="submit"]:after {
  content: '';
  position: absolute;
  left: -4px;
  right: -4px;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #118fe4;
}


.padding-vertical-50{
  padding-bottom: 50px;
  padding-top: 50px;

}

