@import '../node_modules/bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css';

h1,h2,h3,h4,h5,h6,strong{
    font-family: 'Press Start 2P', cursive;
}

.font-press-start{
  font-family: 'Press Start 2P', cursive;
}

.bg-gradient {
    background: linear-gradient(270deg, #fd3f7d, #e8e648, #2758a5);
    /* background: linear-gradient(270deg, #ff76cc,#f6ff66, #58fdc3);  */
    background-size: 600% 600%;
    -webkit-animation: animateGradient 30s ease infinite;
    -moz-animation: animateGradient 30s ease infinite;
    animation: animateGradient 30s ease infinite;
}

@-webkit-keyframes animateGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes animateGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes animateGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.dotted {
    opacity: .4;
    height: 100%;
    width: 100%;
    display: block;
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    padding: 2.25em 1.6875em;
    background-image: -webkit-repeating-radial-gradient(center center, #831ed0, rgba(251, 0, 255, .32) 1px, transparent 1px, transparent 98%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}

.transparent{
    background: transparent!important;
}

.card-8bit{
    border-color: #000;
    border-style: solid;
    border-width: 4px;
}

.media-content * {
  font-family: 'Press Start 2P', cursive;
}


.btn-8bit{
  -webkit-appearance: initial;
  border: none;
  background: #ee7709ed;;
  color: #fff;
  padding: 10px 15px;
  margin-top: 30px;
  position: relative;
  z-index: 5;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 4px 0 0 #c15f04;;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
}

button:before, .btn-8bit:before, [type="submit"]:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -4px;
  bottom: 0;
  z-index: -1;
  background: #f78a38;;
}

button:after, .btn-8bit:after, [type="submit"]:after {
  content: '';
  position: absolute;
  left: -4px;
  right: -4px;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #f78a38;;
}

.padding-vertical-50{
  padding-bottom: 50px;
  padding-top: 50px;
}

.inner-hero-body{
  padding-left:0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.side-menu{
  position: absolute;
    background: #1a1a1a;
    background: -webkit-inear-gradient(57deg, rgb(222, 222, 222) 3%, #fff 40%);
    background: linear-gradient(57deg, rgb(222, 222, 222) 3%, #fff 40%);
    height: calc(100% - 51px);
    left: 0;
    top: 51px;
    width: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
}

.map-container {
  position: absolute;
  width: 60%;   
  height: calc(100% - 51px);
  background: darkorchid;
  top: 51px;
  left: 40%;
  -webkit-transition: .6s cubic-bezier(.42, 0, 0, .99);
  -moz-transition: .6s cubic-bezier(.42, 0, 0, .99);
  -ms-transition: .6s cubic-bezier(.42, 0, 0, .99);
  -o-transition: .6s cubic-bezier(.42, 0, 0, .99);
  transition: .6s cubic-bezier(.42, 0, 0, .99);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}


